<app-widgets-dropdown></app-widgets-dropdown>
<table class="table">
  <thead>
    <tr>
      <a cButton routerLink="/profil-patient" ></a>
      <th scope="col">id</th>
      <th scope="col">Nom</th>
      <th scope="col">Prenom</th>
      <th scope="col">Age</th>
      <th scope="col">Commune</th>
      <th scope="col">Temperature</th>
      <th scope="col">Frequence Cardiaque</th>
      <th scope="col">Geolocalisation</th>




    </tr>
  </thead>
  <tbody>
    <tr>
      <a cButton routerLink="/profil-patient" ></a>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>13</td>
      <td>Abobo</td>
      <th scope="col">30°</th>
      <th scope="col">180</th>
      <th scope="col">Abidjan</th>




    </tr>
    <tr>
      <a cButton routerLink="/profil-patient" ></a>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>11</td>
      <td>Cocody</td>
      <th scope="col">30°</th>
      <th scope="col">180</th>
      <th scope="col">Abidjan</th>

    </tr>
    <tr>
      <a cButton routerLink="/profil-patient" ></a>
      <th scope="row">3</th>
      <td>Didier</td>
      <td>Roland</td>
      <td>12</td>
      <td>yopougon</td>
      <th scope="col">30°</th>
      <th scope="col">180</th>
      <th scope="col">Abidjan</th>

    </tr>
  </tbody>
</table>