.login-container {
    background-color:#bbd7fd;
}
.site-container {
    //background-image: url('/assets/img/avatars/LOGO fAB BLANC-NOIR.png');
    background-repeat: no-repeat;
    background-size: cover; 

   // background-position: center; /* pour centrer l'image */
    /* Valeur de l'opacité (entre 0 et 1) */


}
