.login-container {
    width: 100%;
    
    background-color:#bbd7fd;
   background-image: url('/assets/img/avatars/parent.png');
   background-repeat: no-repeat;
   background-position: right; /* Ajoutez cette ligne pour positionner l'image à droite */

}
