:host {
  ng-scrollbar {
    --scrollbar-thumb-color: var(--cui-border-color, #0800f0);
    --scrollbar-track-color: var(--cui-body-color, #002e89);
    --scrollbar-hover-size: calc(var(--scrollbar-size) * 1.5);
  }
}

.sidebar {
  $my-sidebar-color: #0756c6; // couleur de ma barre laterale
  background-color: $my-sidebar-color;
  background:cover;
  
}
#sidebar {
  
 
  background-color: #1a64cb; // Replace #ff0000 with your desired color value
  }



