<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">Age</th>
        <th scope="col">Commune</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>13</td>
        <td>Abobo</td>

      </tr>
      <tr>
        <th scope="row">2</th>
        <td> <a cButton routerLink="/profil-patient" ></a>Jacob</td>
        <td>Thornton</td>
        <td>11</td>
        <td>Cocody</td>

      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Didier</td>
        <td>Roland</td>
        <td>12</td>
        <td>yopougon</td>
        <a cButton routerLink="/profil-patient" ></a>

      </tr>
    </tbody>
  </table>