<div class="container">
    <div class="row justify-content-center align-items-center profil-container">
      <div class="col-lg-4">
        <div class="card">
          <img src="assets/img/avatars/enfant.png" class="card-img-top img-thumbnail" alt="Avatar de l'enfant">
          <div class="card-body">
            <h5 class="card-title">Profil de mon enfant</h5>
            <ul class="list-group">
              <li class="list-group-item">
                <strong>Nom: Tizie</strong>
                <span id="nom"></span>
              </li>
              <li class="list-group-item">
                <strong>Prénom: Romaric</strong>
                <span id="prenom"></span>
              </li>
              <li class="list-group-item">
                <strong>Âge:15</strong>
                <span id="age"></span>
              </li>
            </ul>
            <a routerLink="/dashboard-parent"> <svg cIcon class="me-3" name="cilChevronLeft"></svg></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-default-header></app-default-header>
  