
  <c-row>
  </c-row>
  <c-row>
    <c-col xs="12" lg="6">
      <c-card class="mb-4">
        <c-card-header>
          Statistitique des donnees
        </c-card-header>
        <c-card-body>
          <c-chart type="doughnut" [data]="chartDoughnutData"></c-chart>
        </c-card-body>
      </c-card>
    </c-col>
    <c-col xs="12" lg="6">
      <c-card class="mb-4">
        <c-card-header>
          stattistiques des donnees
        </c-card-header>
        <c-card-body>
          <c-chart type="pie" [data]="chartPieData"></c-chart>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
